html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

h1 {
    font-size: 3.5rem; 
    text-align: center;
    color: mediumaquamarine;
    background-color: white;
    width: 100%;
}

nav {
    text-align: center;
    font-size: 2rem;
    background-color: white;
}

nav li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    /* font-size: 2rem; */
    /* text-align: center; */
}

/* nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
} */

body {
    width: 70%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lavender;
}

main {
    /* border: 2px solid lavender; */
    padding: 1rem;
    background-color: white;
}

/* ul {
    list-style: circle;
}

ol {
    list-style: decimal inside;
} */

p {
    margin: 10px;
}

footer {
    text-align: center;
    background-color: white;
    color: mediumaquamarine;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 20px;   
}

img {
    height: 600px;
    /* float: left; */
    padding: 20px;
    max-height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

.image {
    flex-basis: 40%
}
  
.text {
    padding: 5px;
    font-size: 23px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.intro {
    font-size: 50px;
    color: mediumaquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.greeting {
    text-align: center;
    font-size: 2rem;
}